{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<h2>Madlibs Choice Menu</h2>
<p>Click on the button to open the dropdown menu.</p>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="/choice-1" action="/choice1.html">I love to {verb} a good {noun}.</a>
        <a href="/choice-2">A vacation is when you take a trip to some {adjective} place with your {adjective}
            family.</a>
        <a href="/choice-3">He {verb, past tense} {adverb} through the large tunnel that led to its {adjective} {noun}.
        </a>
    </div>
</div>


{% endblock %}